

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Great+Vibes&display=swap');


/*===== All and body =====*/

* {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;

  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.text-center{
  text-align: center;

}
body {
  /* background: linear-gradient(#2b1055, #7597de); */
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

/*====== Custom scrollbar ======*/

* {
  scrollbar-color: #fff transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c0522;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

/*===== Responsive Mobile View =====*/

@media screen and (max-width: 650px) {
  .header {
    justify-content: center;
  }

  .nav {
    display: none;
  }
}

/*===== CSS =====*/


/* Desktop wrapper */

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding:300px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


/* Home section */
.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-section:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background: linear-gradient(to top, #96b2b3, transparent);
  z-index: 1001;
}

.home-section::after {
  content: "";
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  /* background: linear-gradient(to bottom, transparent, #768794be,transparent); */

  z-index: 1000;
}

.home-section img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}


.home-section img#moon {
  /* mix-blend-mode: screen; */
  z-index: 1000;
}

.home-section img#mountains_front,.home-section img#mountains_back {
  z-index: 1000;
}

/* titolo */
#btn-letsgo {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  z-index: 1002;
  padding: 40px 20px;
background: #afcafe8f;
margin: 0 30px;
border-radius: 10px;
}



#btn-letsgo h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}

#btn-letsgo span {
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
}


/* About section */
.about-section {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-color: #afcafe;
  color: #ffffff;
  text-align: center;
}

.programma{
  z-index: 2000;
}


.text{
  position: relative;
  z-index: 1001;

}
.about-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(to bottom, #96b2b3e0, transparent);
  z-index: 1000;
 

}

.img-box{
  width: 300px;
height: 300px;
border-radius: 10px;
overflow: hidden;
margin-top: 40px;
}

.img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#stars{
  opacity: 0.5;
  z-index: 1000;
  display: none;
}



/* #gradient-canvas {
  --gradient-color-1: #96b2b3;
  --gradient-color-2: #fcff69;
  --gradient-color-3: #ff61ab;
  --gradient-color-4: #afcead;
  position: absolute;
  top: 0;
  left: 0;
} */

#gradient-canvas {
  --gradient-color-1: #afcafe;
  --gradient-color-2: #d0dec0;
  --gradient-color-3: #cca7b4;
  --gradient-color-4: #8ed6e8;
  position: absolute;
  top: 0;
  left: 0;
}

/* music */


/* @media screen and (max-width: 690px) {
 iframe{
  height: 1047px;
 }
}

@media screen and (max-width: 572px) {
  iframe{
   height: 1025px;
  }
 }

 @media screen and (max-width: 497px) {
  iframe{
   height: 1115px;
  }
 } */

 /* scroll */

 .scroll {
margin-top: 40px;
	padding: 0;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  font-size: 14px;
}

 .box span {
	width: 14px;
	height: 14px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}


/* map */

iframe#map{
  margin-top: 40px;
  border-radius: 20px;
}